@import "components/card/card.css";
@import "components/search-bar/search-bar.css";
@import "components/nav-button/nav-button.css";
@import "components/nav-pagination/nav-pagination.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #87caa0ff;
  --color-secondary: #4a0078;
  --accent-color-primary: #fda84eff;
  --accent-color-secondary: #01B4C6;
  --background-color-primary: #330252;
  --background-color-secondary: #87caa0ff;
  --color-white: #ffffff;
  --color-black: #171717;
  --font-family: system-ui;
  --font-family-headings: "WubbaLubbaDubDub";
  --background: url("./assets/background.jpg");
}

@font-face {
  font-family: "WubbaLubbaDubDub";
  src: url(./assets/WubbaLubbaDubDub/WubbaLubbaDubDub.otf);
}

body {
  font-family: var(--font-family);
  color: var(--color-primary);
  background: linear-gradient(135deg, #005233, #4a0078, #fda84eff, #78004d);
  background-size: 200% 200%;
  animation: background-animation 10s ease infinite;
  -webkit-animation: background-animation 10s ease infinite;
  -moz-animation: background-animation 10s ease infinite;
}

@keyframes background-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-webkit-keyframes background-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes background-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

header {
  background-color: var(--background-color-primary);
  top: 0;
  text-align: center;
  padding: 1em 3em;
  height: auto;
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  transition: all 0.5s ease;
}

header .logo {
  width: auto;
  max-width: 160px;
}

header h1 {
  font-size: 1.2rem;
  font-family: var(--font-family-headings);
  color: var(--accent-color-primary);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--color-primary);
}

main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 100px;
}

.title {
  padding: 10px 0;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.2em;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 1em 1.5em;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--background-color-primary);
  z-index: 1;
}

footer .credits {
  text-align: center;
  font-size: 10px;
  color: var(--accent-color-primary);
  margin-bottom: 0;
  order:3;
}

@media (min-width: 700px) {
  header .logo {
    width: auto;
    max-width: 200px;
    transition: all 0.5s ease;
  }

  header h1 {
    font-size: 1.5rem;
  }

  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--background-color-primary);
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap:1em;
    align-items: center;
    padding: 20px;
    z-index: 1;
  }
  
  footer .credits {
    grid-column: 3 / 4;
    justify-self: end;
    margin: 0;
    color: var(--accent-color-primary);
    font-size: 14px;
    text-align: right;
    font-weight: normal;
    line-height: 1.5;
  }
}
